<div class="modal fade" id="project-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="project-modal-label">Create New Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/project/create" method="POST">
          <div class="modal-body">
            <div class="mb-3">
              <label for="project-name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="project-name" name="name">
            </div>
            <div class="mb-3">
              <label for="project-description" class="form-label">Description:</label>
              <textarea class="form-control" id="project-description" rows="3" name="description"></textarea>
            </div>
            <div class="mb-3">
              <label for="project-author" class="form-label">Author:</label>
              <input type="text" class="form-control" id="project-author" name="author">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="project-submit-button">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  